[Desktop Entry]
Type=Application
Name=Kumo
Exec=kumo
Comment=A Wayland Mobile Browser
Icon=Kumo
Categories=Network;WebBrowser
Keywords=mobile;wayland
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
