[Desktop Entry]
Type=Application
Name=Kumo
Exec=kumo
Comment=A Wayland Mobile Browser
Icon=Kumo
Categories=Network;WebBrowser
Keywords=mobile;wayland
